{% extends "system/voter/index.html" %}
{% load staticfiles %}
<!DOCTYPE html>

{% block title %}<title>Online Voting | Vote</title>{% endblock %}

{% block content %}
      <!--main content start-->
                          <div class="panel-body">
                              <div class="form">
                                  <form method="POST" class="form-horizontal" role="form" id="candi">

                                  {% if success %}
                                    <div class="alert alert-success">
                                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                      <strong>Success!</strong> {{ success }}
                                    </div>
                                  {% endif %}

                                  {% if exist %}
                                  <div class="alert alert-warning">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Warning!</strong> {{ exist }}
                                  </div>
                                  {% endif %}

<!-- this script is used to limit the number of checkbox to be chedcked
-->
<script type="text/javascript">
function checkboxlimit(checkgroup, limit){
    var checkgroup=checkgroup
    var limit=limit
    for (var i=0; i<checkgroup.length; i++){
        checkgroup[i].onclick=function(){
        var checkedcount=0
        for (var i=0; i<checkgroup.length; i++)
            checkedcount+=(checkgroup[i].checked)? 1 : 0
        if (checkedcount>limit){
            alert("You can only select a maximum of "+limit+" checkboxes")
            this.checked=false
            }
        }
    }
}
</script>


                                  {% csrf_token %}
                                      <div class="form-group ">
                                      {% for position in positions %}
                                          <label for="cname" class="control-label col-lg-2">{{ position }}<span class="required">*</span></label>

                                          {% for candidate in candidates %}
                                            {% if position.pk == candidate.position_id.pk %}
                                              <div class="col-lg-3">
                                                  <input id="{{ position }}" type="checkbox" name="candidate_id" value="{{ candidate.pk }}">{{ candidate }} {{ candidate.user_id.first_name }} {{ candidate.user_id.last_name }}<br>
                                              </div>
                                              
                                              <!-- send the limit value for current checkbox -->
                                              <script type="text/javascript">checkboxlimit(document.forms.candi.{{ position }}, {{ position.slot }})
                                              </script>

                                            {% endif %}
                                          {% endfor %}
                                      </div>
                                      {% endfor %}

                                            {% if button == True %}
                                              <button class="btn btn-primary" type="submit">Save</button>
                                              <button class="btn btn-default" type="button">Cancel</button>
                                            {% endif %}
                                          </div>
                                      </div>
                                  </form>
                              </div>

                          </div>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
{% endblock content %}