{% extends "system/index3.html" %}
{% load staticfiles %}

{% block title %}<title>Online voting | Login</title>{% endblock title %}

{% block content %}
  <body class="login-img3-body">

    <div class="container">

      <form class="login-form" method="POST">
      {% csrf_token %}
      {% if failed %}
        <div class="alert alert-danger">
            <strong>{{ failed }}</strong> Invalid id number/password.
        </div>
      {% endif %}        
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
              <input name="id_number" type="text" class="form-control" placeholder="ID number" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input name="password" type="password" class="form-control" placeholder="Password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        </div>
      </form>

    </div>

  </body>
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}

{% block header %}
{% endblock header %}