<!doctype html>
<html lang="en" dir="ltr">
<head>
   <title>Limit Checkboxes</title>
   <meta charset="utf-8" />
   <style>
      label {
         display:block;
      }
   </style>
</head>
<body>
   <form name="my_form" id="my_form">
       <script>
      function checkLen(box) {
         var boxes=document.my_form.boxes,len=boxes.length,i,count=0;
         for(i=0;i<len;i++) {
            count+=(boxes[i].checked) ? 1 : 0;
            if(count>4) {
               box.checked=false;
            }
         }
      }
   </script>
    {% for position in positions %}
    <label>{{ position }}</label>
      {% for candidate in candidates %}
        {% if position.pk == candidate.position_id.pk %}
          <label><input id="boxes" type="checkbox" name="boxes" value="1" onchange="checkLen(this);" />{{candidate.user_id}}</label>
        {% endif %}
      {% endfor %}
      <br>
    {% endfor %}
   </form>
</body>
</html>