{% extends "system/index3.html" %}
{% load staticfiles %}
<!DOCTYPE html>

{% block title %}<title>Online voting | Voter</title>{% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">            
              <!--overview start-->
              <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="{%url "voters_view" %}">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Dashboard</li>                          
                    </ol>
                </div>
            </div>
              
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="fa fa-users"></i>
                        <!-- <div class="count">6.674</div> -->
                        <div class="title"><li><a href="{% url "candidate_view" %}">View Candidate</li></div>                       
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg">
                        <i class="fa fa-clipboard"></i>
                        <!-- <div class="count">7.538</div> -->
                        <div class="title"><li><a href="{% url "party_view" %}">View Party</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->  
                
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box purple-bg">
                        <i class="fa fa-eye"></i>
                        <!-- <div class="count">4.362</div> -->
                        <div class="title"><li><a href="{% url "position_view" %}">View Position</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->               
            </div><!--/.row-->

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box green-bg">
                        <i class="fa fa-graduation-cap"></i>
                        <!-- <div class="count">1.426</div> -->
                        <div class="title"><li><a href="{% url "college_view" %}">View College</div>                       
                    </div><!--/.info-box-->         
                </div><!--/.col--> 

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box pink-bg">
                        <i class="fa fa-list-alt"></i>
                        <!-- <div class="count">6.674</div> -->
                        <div class="title"><li><a href="{% url "bulletin_view" %}">View Bulletin</li></div>                       
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box yellow-bg">
                        <i class="fa fa-edit"></i>
                        <!-- <div class="count">7.538</div> -->
                        <div class="title"><li><a href="#">View Tally</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->
            </div><!--/.row-->
      <!--main content end-->
{% endblock content %}