{% extends "system/index3.html" %}
{% load staticfiles %}
<!DOCTYPE html>

{% block title %}<title>Online voting | Vote</title>{% endblock title %}

{% block content %}
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-files-o"></i> Vote</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="{% url "user_home" %}">Vote</a></li>
            <li><i class="icon_document_alt"></i> Vote</li>
            <li><i class="fa fa-files-o"></i>Voting Form</li>
          </ol>
        </div>
      </div>
              <!-- Form validations -->              
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Form validations
                          </header>
                          <div class="panel-body">
                              <div class="form">
                                  <form method="POST" class="form-horizontal" name="candi" id="candi">

                                  {% if success %}
                                    <div class="alert alert-success">
                                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                      <strong>Success!</strong> {{ success }}
                                    </div>
                                  {% endif %}

                                  {% if exist %}
                                  <div class="alert alert-warning">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Warning!</strong> {{ exist }}
                                  </div>
                                  {% endif %}


                                  {% csrf_token %}
                                      <div class="form-group ">
                                      {% for position in positions %}
                                      <!-- this script is used to limit the number of checkbox to be chedcked
-->
<script type="text/javascript">
function checkboxlimit(checkgroup, limit){
    var checkgroup=checkgroup
    var limit=limit
    for (var i=0; i<checkgroup.length; i++){
        checkgroup[i].onclick=function(){
        var checkedcount=0
        for (var i=0; i<checkgroup.length; i++)
            checkedcount+=(checkgroup[i].checked)? 1 : 0
        if (checkedcount>limit){
            alert("You can only select a maximum of "+limit+" checkboxes")
            this.checked=false
            }
        }
    }
}
</script>
                                          <label for="cname" class="control-label col-lg-2">{{ position.position_name }}<span class="required">*</span></label>

                                          {% for candidate in candidates %}
                                            {% if position.pk == candidate.position_id.pk %}
                                              <div class="col-lg-3">
                                                  <input id="{{candidate.position_id.position_name}}" type="checkbox" name="candidate_id" value="{{ candidate.pk }}">{{ candidate }}<br>
                                              </div>
                                            {% endif %}
                                          {% endfor %}

                                          <!-- send the limit value for current checkbox -->
                                              <script type="text/javascript">checkboxlimit(document.forms.candi.{{position.position_name}}, {{ position.slot }})
                                              </script>
                                           
                                      {% endfor %}
                                      </div>

                                            {% if button == True %}
                                              <button class="btn btn-primary" type="submit">Save</button>
                                              <button class="btn btn-default" type="button">Cancel</button>
                                            {% endif %}
                                          </div>
                                      </div>
                                  </form>
                              </div>

                          </div>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
{% endblock content %}
  </section>
  <!-- container section end -->

    <!-- javascripts -->
    <script src="{% static "UIver3/js/jquery.js" }"></script>
    <script src="{% static "UIver3/js/bootstrap.min.js" }"></script>
    <!-- nice scroll -->
    <script src="{% static "UIver3/js/jquery.scrollTo.min.js" }"></script>
    <script src="{% static "UIver3/js/jquery.nicescroll.js" }" type="text/javascript"></script>
    <!-- jquery validate js -->
    <script type="text/javascript" src="{% static "UIver3/js/jquery.validate.min.js" }"></script>

    <!-- custom form validation script for this page-->
    <script src="{% static "UIver3/js/form-validation-script.js" }"></script>
    <!--custome script for all page-->
    <script src="{% static "UIver3/js/scripts.js" }"></script>

</html>
